@model DatabaseAccess.tblCompany

@{
    ViewBag.Title = "Company Information";
}

<div class="card">
    <div class="row row-flush">
        <div class="col-md-4">
            <img src="@Url.Content(Model.Logo)" width="350" height="350" style="padding: 5%;"/>
        </div>
        <div class="col-8">
            <div class="p-4">
                <div>
                    <div style="float: right;">
                        @Html.ActionLink("Edit Profile", "Edit", new { id = Model.CompanyID }, new { @class = "btn btn-primary btn-sm" })
                    </div>
                </div>
                <p>
                    <span class="text-lg">
                        @Html.DisplayFor(model => model.Name)
                    </span>
                </p>
                <p>
                    qq
                </p>
            </div>
        </div>
    </div>
</div>
