@model IEnumerable<DatabaseAccess.tblUserType>

@{
    ViewBag.Title = "List of All User Types";
}

<div class="card">
    <div class="card-flat">
        <div class="card-header">
            @Html.ActionLink("Add User Type", "Create", null, new { @style = "float: left;", @class = "btn btn-success" })
            <input class="form-control col-md-3" type="text" style="float: right;" id="searchusertype" name="searchusertype" placeholder="Search..." />
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>User Type</th>
                            <th>Action's</th>
                        </tr>
                    </thead>
                    <tbody id="usertypelist">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.UserType)
                                    </p>
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.UserTypeID }, new { @class = "btn btn-pill-left btn-inverse btn-primary fa fa-edit" })
                                    @Html.ActionLink("Details", "Details", new { id = item.UserTypeID }, new { @class = "btn btn-pill-right btn-primary fa fa-exclamation" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchusertype").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#usertypelist tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
